In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
import statsmodels.discrete.discrete_model as sn

In [4]:
df = pd.read_csv('/Users/dikshantthapa/PycharmProjects/pythonProject/Data Files/day1/House_price.csv',header=0)

In [5]:
df.head()

,price,crime_rate,resid_area,air_qual,room_num,age,dist1,dist2,dist3,dist4,teachers,poor_prop,airport,n_hos_beds,n_hot_rooms,waterbody,rainfall,bus_ter,parks
0,24.0,0.00632,32.31,0.538,6.575,65.2,4.35,3.81,4.18,4.01,24.7,4.98,YES,5.480,11.1920,River,23,YES,0.049347
1,21.6,0.02731,37.07,0.469,6.421,78.9,4.99,4.70,5.12,5.06,22.2,9.14,NO,7.332,12.1728,Lake,42,YES,0.046146
2,34.7,0.02729,37.07,0.469,7.185,61.1,5.03,4.86,5.01,4.97,22.2,4.03,NO,7.394,101.1200,None,38,YES,0.045764
3,33.4,0.03237,32.18,0.458,6.998,45.8,6.21,5.93,6.16,5.96,21.3,2.94,YES,9.268,11.2672,Lake,45,YES,0.047151
4,36.2,0.06905,32.18,0.458,7.147,54.2,6.16,5.86,6.37,5.86,21.3,5.33,NO,8.824,11.2896,Lake,55,YES,0.039474

In [13]:
df.describe()
df.shape

(506, 19)

In [14]:
df.corr()
#using Sklearn
df.columns
pd.set_option('display.max_columns',19)

/var/folders/j0/kx0rsn7x28l84ccbn6ndhx5c0000gn/T/ipykernel_74776/4015188478.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

In [19]:
df.head()
df=pd.get_dummies(df)

In [20]:
del df['airport_NO']

In [21]:
del df['waterbody_None']

In [22]:
df.head()

,price,crime_rate,resid_area,air_qual,room_num,age,dist1,dist2,dist3,...,n_hos_beds,n_hot_rooms,rainfall,parks,airport_YES,waterbody_Lake,waterbody_Lake and River,waterbody_River,bus_ter_YES
0,24.0,0.00632,32.31,0.538,6.575,65.2,4.35,3.81,4.18,...,5.480,11.1920,23,0.049347,1,0,0,1,1
1,21.6,0.02731,37.07,0.469,6.421,78.9,4.99,4.70,5.12,...,7.332,12.1728,42,0.046146,0,1,0,0,1
2,34.7,0.02729,37.07,0.469,7.185,61.1,5.03,4.86,5.01,...,7.394,101.1200,38,0.045764,0,0,0,0,1
3,33.4,0.03237,32.18,0.458,6.998,45.8,6.21,5.93,6.16,...,9.268,11.2672,45,0.047151,1,1,0,0,1
4,36.2,0.06905,32.18,0.458,7.147,54.2,6.16,5.86,6.37,...,8.824,11.2896,55,0.039474,0,1,0,0,1

In [27]:
x= df[['price']]

In [28]:
y=df.airport_YES

In [29]:
lm1 = LogisticRegression()

In [30]:
lm1.fit(x,y)

LogisticRegression()

In [31]:
y_pred = lm1.predict(x)

In [32]:
print(lm1.coef_,lm1.intercept_)

[[0.04317675]] [-0.75390706]

In [33]:
from sklearn.metrics import r2_score

In [35]:
r2_score(y_pred,y)

-1.1419895950784333

In [41]:
X_multi =df.loc[:,df.columns!='airport_YES']

In [37]:
y_multi = df['airport_YES']

In [42]:
lm2 = LogisticRegression(X_multi.reshape(2,-1),y_multi)

AttributeError: 'DataFrame' object has no attribute 'reshape'